// Variables used throughout Active Admin.
// They can be overridden by your own

// Height priority settings
$skinTextColor: #1e2a33 !default;
$skinTextActiveColor: #fff !default;
$skinTextTable: #7f8c8d !default;
$skinActiveColor: #DC3D24 !default;
$skinHeaderBck: #232B2B !default;
$skinHeaderTextColor: #FFFFFF !default;
$skinFontFamily: "Source Sans Pro", Helvetica, Arial, sans-serif !default;
$panelHeaderBck: darken($skinHeaderBck, 10%) !default;
$panelHeaderTextColor: #FFFFFF !default;
$skinLogo: asset-url("face_of_active_admin/logo.jpg") no-repeat 0 0 !default;
$skinLogoWidth: auto !default;

// Low priority settings
// Colors
$body-background-color: #ecf0f1 !default;
$main-background-color: #FFF !default;
$title-bar-background: #efefef !default;
$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: $secondary-color !default;
$table-selected-color: lighten($skinActiveColor, 35%) !default;
$error-color: #932419 !default;
$blank-slate-primary-color: #7f8c8d !default;
$breadcrumbs-color: #8a949e !default;
$breadcrumbs-separator-color: #aab2ba !default;
$required-field-marker-color: #aaa !default;
$page-header-background-color: #ecf0f1 !default;
$table-header-color: lighten($skinHeaderBck, 70%) !default;

// Text
$default-font: "Helvetica Neue" !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$header-dropdown-menu-text-color: #323537 !default;
$section-header-text-color: $primary-color !default;
$page-header-text-color: #cdcdcd !default;
$form-label-color: $section-header-text-color !default;

// Buttons
$action-button-default-background: #fbfbfb !default;
$action-button-hover-background: #FFF !default;
$action-button-active-background: #fafafa !default;
$action-button-default-text: $primary-color !default;
$action-button-hover-text: $primary-color !default;
$action-button-active-text: $primary-color !default;
$link_transition_dutarion: 0.3s !default;

// Sizes
$title-bar-font-weight: bold !default;
$border-width: 1px !default;
$horizontal-page-padding: 30px !default;
$horizontal-page-header-padding: 15px !default;
$logo-width: 100px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;
$cell-horizontal-padding: 12px !default;
$section-padding: 15px !default;
$text-input-horizontal-padding: 10px !default;
$text-input-total-padding: $text-input-horizontal-padding * 2 + $border-width * 2;

$blank-slate-border: 1px dashed #DADADA !default;

/* source-sans-pro-regular - latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: asset-url("face_of_active_admin/source-sans-pro-v12-latin_latin-ext-regular.eot"); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       asset-url('face_of_active_admin/source-sans-pro-v12-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset-url('face_of_active_admin/source-sans-pro-v12-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       asset-url("face_of_active_admin/source-sans-pro-v12-latin_latin-ext-regular.woff") format('woff'), /* Modern Browsers */
       asset-url('face_of_active_admin/source-sans-pro-v12-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       asset-url('face_of_active_admin/source-sans-pro-v12-latin_latin-ext-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
